<!DOCTYPE html>
<html lang="en">
<div class="topnav">
    <link rel="stylesheet" href="menubar.css" type="text/css">
    <link rel="stylesheet" href="styles.css" type="text/css">

    <a class="active" href="#home">Main</a>
    <a href="ShipReg">Ship Registration</a>
    <a href="PortEntry">Port Entry</a>
    <a href="PortExit">Port Exit</a>
    <a href="CraneOperator">Crane Operator</a>
    <a href="TruckReg">Truck Registration</a>
    <a href="TruckDriverReg">Truck Driver Registration</a>
    <a href="ContainerCompanyReg">Container Company Registration</a>
    <a href="PortAdminManagement">Port Admin Management</a>
    <a href="TestReq">TEST REQUESTS</a>
</div>
<body>
    <h1>Port Entry</h1>
</body>
</body>
</html>